
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';

$top-nav-grey: #F5F5F5;
$top-nav-text: #333333;
$top-nav-border: #E5E5E5;
$white: #FFFFFF;
$light-grey-text: #767682;
$repo-text-blue: #4078C0;
$top-green-gradient: #89DC6C;
$bottom-green-gradient: #61B145;
$green-border: #5CA941;
$hover-border-bottom: #C9510C;

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body, a {
  color: $top-nav-text;
}

.outer-div {
  background-color: $top-nav-grey;
  height: 50px;
  border-bottom: 1px solid $top-nav-border;
  position: relative;

  .extended-section-top {
    height: 63px;
    border-bottom: 1px solid #DDDDDD;
    position: fixed;
    padding: 14px 0 14px 20px;
    width: 100%;
    z-index: 100;
    background-color: $white;
    display: none;

    .small-image {
      width: 35px;
      height: 35px;
      background-image: url('../images/35x35.gif');
      background-size: cover;
      background-position: center center;
    }

    span {

    }
  }

  .appear {
    display: block;
    transition: display 1
  }

  .inner-div {
    width: 980px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0 auto;

    ::after {
      content: "";
      display: block;
      clear: both;
    }

    .logo {
      display: block;
      height: 28px;
      width: 28px;
      background-image: url('../images/GitHub-Mark-64px.png');
      background-size: cover;
      background-position: center center;
      margin-right: 10px;
    }

    .search-bar {
      padding-top: 2px;
    }

    input{
      height: 28px;
      width: 360px;
      border-radius: 4px;
      font-size: 12px;
      color: #C8C8C8;
      padding-left: 10px;
      font-weight: 500;
    }

    .top-nav-left {
      margin-top: 4px;
      margin-left: 24px;
      font-size: 13px;
      font-weight: 500;
      a {
      color: $top-nav-text;
      }
    }
  }

  .left {
    float: left;
  }

  .right {
    float: right;
  }

  ul {
    margin: 0;
  }

  .top-nav-right {
    :nth-child(1) {
      padding-bottom: 3px;
    }

    :nth-child(2) {
      padding-top: 5px;
    }

    a{
      color: $top-nav-text;
    }
  }

  .small-image {
    display: inline-block;
    height: 20px;
    width: 20px;
    background-image: url('../images/20x20.gif');
    background-size: cover;
    background-position: center center;
    border-radius: 2px;
  }
}

.container {
  margin-top: 30px;
  width: 980px;
}

  .large-picture {
    height: 233px;
    width: 233px;
    display: block;
    background-size: cover;
    background-position: cover cover;
    background-image: url('../images/233x233.gif');
    border-radius: 8px;
  }

  #name {
    font-size: 26px;
    margin-bottom: 6px;
  }

  #login {
    font-size: 20px;
    color: #666666;
    margin-top: 0;
    font-weight: 200;
  }

  a {
    color: #4078C0;
  }

  .bottom-border {
    border-bottom: 1px solid #EEEEEE;
    width: 233px;
  }

  button {
    margin-top: 15px;
    margin-bottom: 15px;
    height: 34px;
    width: 233px;
    border-radius: 4px;
    font-weight: bold;
    background-image: linear-gradient(#FBFBFB, #EEEEEE);
    border: 1px solid #D5D5D5;
  }

.contact-info {

  i {
    padding-right: 6px;
  }

  #email-container {
    margin-top: 15px;
  }

  #joined a {
    color: $top-nav-text;
  }
}

.organizations {
  display: inline-block;
  height: 35px;
  width: 35px;
  background-image: url('../images/35x35.gif');
  background-size: cover;
  background-position: center center;
  border-radius: 2px;
}

.repo-nav-container {
  width: 723px;
  height: 63px;
  border-bottom: 1px solid #DDDDDD;
  z-index: 101;
  position: relative;
  background-color: $white;

  .underline-hover {
    padding: 20px 20px;
    display: table-cell;
    font-size: 14px;
    color: #767676;
    vertical-align: middle;
  }

  .underline-hover:hover {
    color: #000;
    text-decoration: none;
  }

  .underline-hover:active {
    border-bottom: 2px solid $hover-border-bottom;
  }

  .counter {
    font-size: 12px;
    font-weight: 600;
    background-color: #EEEEEE;
    border-radius: 20px;
    padding: 2px 5px;
  }
}

.repo-search {
  width: 723px;
  padding: 12px 0px 12px 0px;
  border-bottom: 1px solid #DDDDDD;

  input {
    width: 360px;
    height: 34px;
    border-radius: 4px;
    padding-left: 8px;
  }

  .multi-item-button, #new {
    padding: 6px 12px;
    height: 34px;
    border-radius: 4px;
    background-image: linear-gradient(#FCFCFC, #EEEEEE);
    border: 1px solid #D5D5D5;
    font-weight: 600;
    margin: 0 0 0 10px;
    width: auto;
    float: right;
    :nth-child(1) {
      color: #828282;
    }
  }

  #new {
    background-image: linear-gradient(#78D757, #61B145);
    border: 1px solid #5CA941;
    color: $white;

    .fa{
      padding-right: 4px;
      color: #FFFFFF;
    }
  }
}

.repos-container {
  padding: 0;
}

.repo {
  width: 723px;

  .inline {
    display: inline-block;
  }

  .left {
    p {
      color: #767676;
    }
  }
}

.repo-info {

  border-bottom: 1px solid #EEEEEE;

  .left {
    width: 49%;
    padding: 24px;
    h3 {
      margin: 0 0 12px 0;
    }
    p {
      margin: 0;
    }
  }

  .graph {
    width: 24%;
    position: relative;
    top: -38px;
  }

  .language {
    width: 16%;
    position: relative;
    top: -20%;

    i {
      padding-right: 3px;
    }
  }

  .stars {
    width: 7.4%;
    text-align: right;
    position: relative;
    top: -20%;

    i{
      padding-right: 3px;
    }
  }

  .fa-circle {
    color: #FFFFFF;
  }

  .HTML {
    color: #E44B23;
  }

  .CSS {
    color: #563D7C;
  }

  .JavaScript {
    color: #F1E05A;
  }
}
.fixed {
  position: fixed;
  top: 0;
}
